<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
  <h2>{{ habit.name }}</h2>
  <p>Created on: {{ habit.created_at|date:"F j, Y, g:i a" }}</p>
  <p>Status: {% if habit.is_active %}Active{% else %}Inactive{% endif %}</p>
  <a href="{% url 'dashboard' %}">Back to Dashboard</a>
{% endblock %}

  
</body>
</html>